<% if notice %>
  <% if notice.respond_to?(:each) %>
    <% notice.each do |n| %>
      <div class="alert alert-info alert-dismissible fade show m-1" role="alert">
        <%= n %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
  <% else %>
    <div class="alert alert-info alert-dismissible fade show m-1" role="alert">
      <%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
<% end %>
<% if alert %>
  <% if alert.respond_to?(:each) %>
    <% alert.each do |a| %>
      <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
        <%= a %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
  <% else %>
    <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
      <%= alert %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
<% end %>
