<div class="container mt-auto py-3 my-4 text-center">
  <div class="card my-4">
    <div class="card-header bg-warning rounded">
      <h1 class="text-light text-center">Cart</h1>
    </div>
  </div>
  <table class="table table-bordered table-warning table-hover text-start">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th scope="col">SubTotal</th>
    </tr>
  </thead>
  <tbody>
  <%= render @cart.line_items %>
  <% if @cart.line_items.empty? %>
    <div class="alert alert-warning">There are not any products in your cart</div>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td>Total: </td>
      <td>
        <%= @cart.total %>
      </td>
    </tr>
  </tfoot>
  </table>
  <%= link_to "CHECKOUT", checkout_cart_path , class:'btn btn-primary'%>
</div>
