<div class="container mt-auto py-3 my-4">
  <h1>Cart</h1>
  <% @cart.line_items.each do |li| %>
    <p><%= li.product.name %></p>
  <% end %>
  <%= link_to "CHECKOUT", checkout_cart_path , class:'btn btn-primary'%>
</div>
